<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/fontawesome-free-5.15.3-web/css/all.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <Link rel="stylesheet" type="text/css" href ="../static/css/style.css">
    <title>Web World</title>
<style>
 .bg_body{
  background-image: radial-gradient(#C33764,#1D2671);
}
</style>
  </head>
<body class="bg_body d-none d-lg-inline">

    <div class=" row text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
        <div class="col-sm-2" align="left">
            <h5 class="my-0 mr-md-auto font-weight-normal">
                <a href="#"><img src="../static/photo/LOGO.png" class="logo" height="30" width="30"></a>Midas IIITD

            </h5>
        </div>
        <div class="col-sm-8 d-none d-lg-inline">
            <nav class="my-2 my-md-0 mr-md-3 text-light">
            <a class="p-2 text-light " href="#">Home<span class="caret"></span></a>
            <a class="p-2 text-light" href="#">Pages<span class="caret"></span></a>
            <a class="p-2 text-light" href="#">Services<span class="caret"></span></a>
                <a class="p-2 text-light" href="#">Blog<span class="caret"></span></a>
            <a class="p-2 text-light" href="#">Contacts</a>
            </nav>
        </div>
        <div class="col-sm-2" align="right d-none d-lg-inline">
           <i class="fas fa-search" style="color:black";></i>
            <i class="fas fa-bars" style="color:black";></i>
        </div>
    </div>
    <div class="row d-none d-lg-inline">
        <div class="col-sm-6" align="left">
            <table  >
                <tr>
                    <td><img src="../static/photo/photo.jpg " height="500" width="600"  style=" border-radius: 5px 80px; margin:40px 100px;"/></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 text-light" align="left d-none d-lg-inline">
            <h1 style="font-size:120px; margin:100px 100px 0px 0px;">Web App Task </h1>
            <p style="font-size:20px; margin:20px 350px 20px 0px;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <nav class="my-2 my-md-0 mr-md-3 text-light">
            <a class="p-2 btn btn-outline-primary  text-light " href="/login">LOGIN|SIGNUP</a>
                <i class="p-4 fab fa-youtube"></i><a class=" text-light " href="#">GO TO YOUTUBE</a>
            </nav>
        </div>
    </div>




<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

</body>
</html>